/* #region utilities */

.bg_tertiary {
  background: #ffdf2b;
}

/* #endregion appHeader  */
header {
  height: 200px;
}
.appHeader {
  position: fixed;
  width: 100%;
  top:0; 
  z-index: 1000;
}

.logo_image {
  height: 34px;
}

.logo_image img {
  height: 100%;
}

/* #endregion appHeader  */

/* #region jumbotron */
.jumbo_btn {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 8px;

}

.main_image {
  height: 500px;
}

.main_image img {
  height: 100%;
  width: 100%;
}

/* #endregion jumbotron */

.latest_story {
  max-height: 230px;
}